<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu button, it allows open and close side navigation">
    <mat-icon>menu</mat-icon>
  </button>
  <button routerLink="/" mat-icon-button class="brand-button" aria-label="Brand name, it allows to return to main view">
    iLifeZen
  </button>
  <span class="spacer"></span>
  <button routerLink="auth/login" mat-icon-button aria-label="Login button, it allows to go to login view">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
