<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="E-mail" formControlName="login">
      <mat-error>
        {{getErrorMessage("login")}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error>
        {{getErrorMessage("password")}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="passwordConfirmation">
      <mat-error>
        {{getErrorMessage("passwordConfirmation")}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Register</button>
  </form>
  <hr />
  <p>Already have an account? <a routerLink="/auth/login"> Login!</a></p>
</div>
