<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="E-mail" formControlName="login">
      <mat-error>
        {{getErrorMessage("login")}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error>
        {{getErrorMessage("password")}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</div>

