<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" placeholder="E-mail" formControlName="login">
      <mat-error>
        {{getErrorMessage("login")}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error>
        {{getErrorMessage("password")}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
  <hr/>
  <p>Don't have an account?
    <a routerLink="/auth/register" mat-icon-button aria-label="Link to registration form">
      Register One!
    </a>
  </p>


</div>

